* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dropdownmenu {
    background: #a51416;
    position: sticky;
    top: 0;
    z-index: 99999999999999999;
}

.dropdownmenu ul{
    display: flex;
}
.dropdownmenu ul li{
    position: relative;
    min-width: 130px
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 16px;
    transition: .35s;
}

#submenu {
    display: none;
    background: #a51416;
    flex-direction: column;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 100;
}

#submenu a {
    padding: 0 10px;
}

li:hover{
    background: red;
}

li:hover #submenu {
    display: flex;
}

.container{
    margin: 40px auto;
}

.card{
    cursor: pointer;
}

.card img{
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
}

.container-box{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
}

.card:not(:hover){
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .7s;
}

.card p{
    font-weight: bold;
}